/* -------------- Specification --------------- */

@font-face{
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: 'Roboto-Regular';
}
$rr:'Roboto-Regular';

@font-face{
	src: url('../fonts/Lato-Regular.ttf');
	font-family: 'Lato-Regular';
}
$lr:'Lato-Regular', sans-serif;

@font-face{
	src: url('../fonts/Roboto-Medium.ttf');
	font-family: 'Roboto-Medium';
}
$rm:'Roboto-Medium';
$fa:"Font Awesome 5 Free";

html{
	font-size: 10px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	background-color: #fff;
	font-family: $rr, sans-serif;
}


a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

input,
textarea{
	&:focus
    &::-webkit-input-placeholder{
		color: transparent;
	}
}

/* -------------- Banner --------------- */

.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #e7f2eb;
	letter-spacing: -.4px;
	
	&__text{
		color: black;
		font-size: 1.5rem;
		font-family: $rr, sans-serif;
		line-height: 4.3rem;
		margin-right: 18px;
		margin-bottom: 0;
		&--bold{
			font-family: $rm, sans-serif;
			background-color: #dfe9e3;
		}
	}
	&__link {
		font-size: 1.3rem;
		color: black;
		border-bottom: 1px dashed black;
		font-family: $rm, sans-serif;
		font-style: normal;
   		font-stretch: normal;
		line-height: normal;
		margin-top: 2px;
		letter-spacing: -.4px;
		&:hover{
			color: #333333;
			opacity: 0.9;
		}
	}
}

/* -------------- Menu --------------- */

.menu{
	padding: 10px 0;
	&__logo{
		background-image: url('https://zooqi.by/assets/dc3eb144/logo.svg');
		background-position: center;
    	background-repeat: no-repeat;
		background-size: 100px 20px;
		color: #ff6b7e;
		font-size: 30px;
		font-weight: 500;
		height: 100%;
		letter-spacing: -.8px;
		line-height: 36px;
		padding: 15px;
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
	}
	&__location{
		display: flex;
		justify-content: center;
		align-items: baseline;
		&.open{
			display: none;
		}
	}
	&__city{
		color: #2d373a;
    	text-transform: none;
		border-bottom: 1px dashed #2d373a;
		cursor: pointer;
		font-style: normal;
   		font-stretch: normal;
		line-height: normal;
		margin-left: 5px;
	}
	&__signin{
		&--adaptive.fas{
			display: none;
		}
	}
	&__burger.fas{
		display: none;
		cursor: pointer;
	}
}

/* -------------- Search --------------- */

.search{
	cursor: pointer;
	max-width: 480px;
	width: 100%;
	border: 1px solid #343434;
	display: block;
	&.hide{
		display: none;
	}
	&.show{
		display: block;
	}
	&--open{
		display: none;
		position: relative;
		&.show{
			display: block;
		}
	}
	&--close{
		cursor: pointer;
	}
	&__navbar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
	}
	
	&__input{
		color: #acacac;
		padding: 11px 55px 11px 20px;
	}
	&__icon{
		color: #000;
		margin-right: 10px;
	}
	&__form{
		display: flex;
		justify-content: space-between;
		border: none;
		outline: none;
		height: 51px;
	}
	&__control{
		width: 100%;
		padding: 10px;
		font-size: 1.3rem;
		&:active{
			outline: none;
		}
		&:focus{
			outline: none;
		}
	}
}

/* -------------- Basket --------------- */

.basket{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333333;
	&:hover{
		color: #333333;
		opacity: 0.9;
	}
	&__icon{
		font-size: 2.1rem;
	}
	&__title{
		border-bottom: 1px dashed #2d373a;
		margin-left: 5px;
		font-size: 1.3rem;
		line-height: 20px;
	}
	&.open{
		display: none;
		align-self: flex-end;
		padding: 20px 0 40px 20px;
		border-bottom: 2px solid #f0f0f0;
	}
}

/* -------------- Signin --------------- */

.signin{
	@extend .basket;
	&:hover{
		color: #333333;
		opacity: 0.9;
	}
	&__icon{
		font-size: 2.4rem;
	}
}

/* -------------- Navigation --------------- */

.navigation{
	display: block;
	position: relative;
	&__wrapper{
		text-align: center;
		list-style: none;
		justify-content: center;
	}
	&__item{
		color: #333333;
		padding: 11px 30px 8px;
		cursor: pointer;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		&:hover{
			background-color: #ff6b7e;
			color: #fff;
		}
		&:nth-child(9){
			color: #ff6b7e;
			&:hover{
				color: #fff;
			}
		}
	}
	&__dotts{
		line-height: 1px;
	}
	&__line{
		width: 100vw;
		height: 1px;
		border-bottom: 1px solid #e7f2eb;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&__arrow.fas{
		display: none;
	}
}

#goods{
	color: #fff;
	background-color: #ff6b7e;
}

.services {
	position: relative;
	height: 0; 
    overflow: hidden; 
    opacity: 0;
	&__box{
		text-align: left;
		flex-direction: column;
		max-width: 300px;
		padding: 20px 30px 38px 60px;
		background-color: #e7f6f8;
		border: 1px solid #efefef;
		position: absolute;
		z-index: 100;
	}
	&__item{
		max-width: 250px;
		color: #2d373a;
		line-height: 15px;
		font-size: 1.5rem;
		letter-spacing: -.4px;
		margin-bottom: 8px;
		line-height: 15px;
		min-width: 160px;
		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			color: #2d373a;
		}
	}
}

.vet{
	position: relative;
	height: 0; 
    overflow: hidden; 
    opacity: 0; 
	&__box{
		display: flex;
		text-align: left;
		justify-content: space-around;
		max-width: 800px;
		background-color: #e7f6f8;
		padding-top: 28px;
		position: absolute;
		z-index: 100;
		border: 1px solid #efefef;
	}
	&__column{
		display: flex;
		flex-direction: column;
		max-width: 250px;
		padding-left: 60px;
		padding-bottom: 28px;
		&:last-child{
			padding-right: 28px;
		}
	}
	&__item{
		@extend .services__item;
		max-width: 190px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.goods{
	position: relative;
	height: 0; 
    overflow: hidden; 
    opacity: 0; 
	&__box{
		max-width: 120px;
		text-align: left;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border: 1px solid #efefef;
		position: absolute;
		z-index: 100;
	}
	&__postitem{
		@extend .services__item;
		width: 100%;
	}
	&__pets{
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 1.3rem;
		padding: 10px 7px;
		color: #2d373a;
		width: 100%;
		box-sizing: border-box;
		cursor: pointer;
		&:hover{
			color: #2d373a;
			background-color: #e7f6f8;
			text-shadow: 0.5px 0 0, 0 0 0 black;
		}
	}
}

.pets{
	position: relative;
	height: 0; 
    overflow: hidden; 
    opacity: 0; 
	&__box{
		max-width: 120px;
		text-align: left;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border: 1px solid #efefef;
		position: absolute;
		z-index: 100;
	}
	&__pets{
		@extend .goods__pets;
		&:hover{
			background-color: #e7f6f8;
		}
	}
	&__postitem{
		@extend .goods__postitem;
	}
}

.accessories{
	position: absolute;
	height: 0; 
    overflow: hidden; 
	opacity: 0; 
	right: 0;
	&__box{
		display: flex;
		text-align: left;
		padding: 20px 45px 38px 60px;
		background-color: #e7f6f8;
		border: 1px solid #efefef;
		position: absolute;
		top: -38px;
		z-index: 100;
	}
	&__title{
		font-weight: bolder;
		padding: 10px 0;
	}
	&__column{
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
		padding-right: 30px;
		&:last-child{
			padding-bottom: 0;
			padding-right: 0;
		}
	}
	&__item{
		max-width: 250px;
		color: #2d373a;
		line-height: 15px;
		font-size: 1.5rem;
		letter-spacing: -.4px;
		margin-bottom: 8px;
		line-height: 15px;
		min-width: 160px;
		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			color: #2d373a;
		}
	}
}

.more{
	position: relative;
	height: 0; 
    overflow: hidden; 
    opacity: 0; 
	&__box{
		background: #fff;
		border: 1px solid #efefef;
		text-align: left;
		border-radius: 2px;
		position: absolute;
		z-index: 10;
	}
	&__item{
		color: #000;
		font-size: 13px;
		padding: 11px 30px 0;
		border-bottom: 3px solid transparent;
		text-transform: uppercase;
		&:hover{
			cursor: pointer;
			background-color: rgba(0,0,0,.1);
		}
	}
}

.navigation__item#more{
	display: none;
}

.open{
	display: block;
}
.close{
	display: none;
}
.openIMP{
	display: block!important;
}
.openFL{
	display: flex;
}

.overlay{
	width:100%;
	height:100%;
	background: rgba(49, 49, 49, 0.95);
	display:none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999999;
	&__icon.fas{
		display: none;
		color: #fff;
		font-size: 2rem;
		position: fixed;
		right: 15px;
    	top: 15px;
		z-index: 99999;
		cursor: pointer;
	}
}

/* -------------- Breadcrump --------------- */

.breadcrumb{
	background-color: #fff;
	margin: 20px 0;
	padding: 25px 0 5px;
	& > .active{
		letter-spacing: -.4px;
    	color: #777;
	}
	&__item{
		color: #333;
		& > a {
			letter-spacing: -.4px;
    		color: #333;
		}
	}
	&__link{
		letter-spacing: -.4px;
		color: #333;
	}
}

.breadcrumb-item+.breadcrumb-item::before{
	position: relative;
	bottom: 3px;
	color: #4d4e52;
    padding: 0 10px;
    content: "•";
    vertical-align: middle;
    line-height: 1px;
}

/* -------------- Product --------------- */

.product{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	&__wrapper{
		padding-bottom: 50px;
		border-bottom: 1px solid #f3f3f3;
	}
	&__gallery{
		height: auto;
		border: 1px solid black;
		position: relative;
		top: -180px;
    	width: 100%;
	}
	&__info,
	&__properties,
	&__reviews{
		padding-top: 30px;
	}
	&__info{
		padding-bottom: 100px;
	}
}

/* -------------- Purchase --------------- */

.purchase{
	&__title{
		font-size: 3.2rem;
		text-transform: uppercase;
		margin-bottom: 25px;
		letter-spacing: -.4px;
		font-weight: 700;
		font-family: $lr;
	}
	&__rating{
		display: flex;
		align-items: center;
	}
	&__stars{
		color: #ff6b7e;
    	font-size: 1.9rem;
		& ~ a{
			font-weight: 400;
			font-size: 14px;
			margin-left: 20px;
			color: #ff6b7e;
			margin-top: 4px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__price{
		color: #2d373a;
		font-family: $lr;
		font-weight: 300;
		font-size: 41px;
		margin-top: 30px;
		letter-spacing: -.8px;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
	}
	&__offers{
		display: flex;
		flex-wrap: wrap;
		margin-top: 60px;
	}
	&__favorite{
		display: flex;
		align-items: center;
		cursor: pointer;
		margin-top: 20px;
	}
	&__heart{
		color: #c7c7c7;
		font-size: 1.4rem;
	}
	&__like{
		margin-left: 15px;
		color: #2d373a;
		text-decoration: underline;
	}
}

/* -------------- Options --------------- */

.options{
	margin-top: 30px;
	&__weight{
		font-size: 1.4rem;
		font-weight: 400;
		margin-bottom: 5px;
	}
	&__box{
		display: flex;
	}
	&__item{
		border: 1px solid #333;
		border-radius: 3px;
		cursor: pointer;
		margin-right: 15px;
		margin-top: 5px;
		padding: 3px 15px;
		&.active{
			color: #fff;
			background-color: #333;
		}
	}
}

/* -------------- Offers --------------- */

.offers{
	display: flex;
	align-items: center;
	padding: 0;
	&__count{
		padding: 0;
	}
	&__spinner{
		width: 57px;
		height: 54px;
		border: 1px solid #000;
		border-radius: 3px;
		position: relative;
	}
	&__control{
		width: 30px;
		height: 50px;
		border: none;
		margin-left: 15px;
		&:focus{
			outline: none;
		}
	}
	&__buttons{
		position: absolute;
		right: 0;
		border: none;
		background-color: #fff;
		border-left: 1px solid #000;
		padding-right: 2px;
		padding-left: 2px;
		cursor: pointer;
		&:focus{
			outline: none;
		}
		&:active{
			background-color: rgb(228, 226, 226);
			
		}
		&--top{
			top: 0;
			padding-bottom: 5px;
			border-bottom: 1px solid #000;
		}
		&--bottom{
			padding-top: 6px;
			bottom: 0;
		}
	}
	&__button{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px 10px 40px;
		font-family: $rr;
		font-size: 2rem;
		font-weight: 400;
		width: 320px;
		line-height: 34px;
		max-width: 300px;
		margin-top: 19px;
		color: #ffffff;
		background-color: #ff6b7e;
		border: none;
		outline: none;
		border-radius: 4px;
		cursor: pointer;
		&:hover{
			opacity: 0.9;
		}
	}
	&__basket{
		color: #ffffff;
	}
}

/* -------------- Description --------------- */

.description{
	&__title{
		font-family: $lr;
		font-size: 2.1rem;
		font-weight: 700;
		letter-spacing: -.8px;
		text-align: left;
		margin-bottom: 40px;
	}
}

/* -------------- Properties --------------- */

.properties{
	&__title{
		@extend .description__title;
	}
	&__row{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 53px;
		border: 1px solid #eeeff6;
		color: #2d373a;
		background-color: #f5f5f5;
		padding-left: 25px;
		&:nth-child(2n+1){
			background-color: #fff;
		}
	}
	&__type{
		font-weight: 700;
	}
	&__total{
		margin-left: 5px;
	}
	&__link{
		color: #2d373a;
		&:hover{
			text-decoration: underline;
			color: #2d373a;
		}
	}
}

/* -------------- Reviews --------------- */

.reviews{
	&__title{
		@extend .description__title;
		margin-bottom: 40px;
	}
	&__box{
		display: flex;
		width: 100%;
		height: 53px;
		line-height: 53px;
		border: 1px solid #eeeff6;
		padding: 0 25px;
		margin-bottom: 40px;
	}
	&__raiting{
		@extend .purchase__rating;
	}
	&__stars{
		@extend .purchase__stars;
		& ~ span{
			font-weight: 400;
			font-size: 14px;
			margin-top: 4px;
			margin-left: 15px;
		}
	}
	&__guest{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 30px 0;
		border-radius: 2px;
		background-color: #f3f9fc;

	}
	&__text{
		margin-bottom: 0;
		text-align: center;
	}
	&__link{
		font-weight: 400;
		color: #ff6b7e;
		&:hover{
			color: #ff6b7e;
			text-decoration: underline;
		}
	}
}

/* -------------- Recomendation --------------- */

.recomendation{
	&__title{
		@extend .description__title;
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 25px 10px;
		border-radius: 4px;
		&:hover{
			padding: 24px 9px;;
			border: 1px solid #dfe9e3;
			cursor: pointer;
		}
		&:hover .recomendation__paragraph{
			color: #303a2d;
			opacity: 0.9;
		}
	}
	&__image{
		max-width: 100%;
	}
	&__paragraph{
		color: #2d373a;
		text-align: center;
	}
	&__raiting{
		align-self: flex-start;
	}
	&__stars{
		font-size: 1.4rem;
		color: #ff6b7e;
		margin-right: 5px;
		
		&:last-child{
			margin-right: 0;
		}
	}
	&__price{
		color: #ff6b7e;
		align-self: flex-start;
	}
}

/* -------------- Footer --------------- */

.footer{
	background-color: #fafafa;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.1);
	padding-top: 30px;
	&__copyright{
		margin-top: 40px;
		padding: 11px 15px;
		border-top: solid 1px rgba(199,199,204,.2);
		text-align: right;
		& div{
			font-size: 1.3rem;
			letter-spacing: -.4px;
		}
	}
	&__box{
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
	&__title{
		font-size: 1.3rem;
		letter-spacing: -.4px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 20px;
	}
	&__link{
		color: #2d373a;
		font-size: 1.3rem;
		margin-bottom: 11px;
		&:hover{
			color: #303a2d;
		}
	}
	&__logo{
		margin-top: 10px;
	}
	&__image{
		margin-right: 15px;
	}
	&__loyalty{
		margin-bottom: 20px;
	}
	&__text{
		font-size: 1.3rem;
		margin: 20px 0;
		& span{
			font-weight: bold;
		}
	}
	&__icons{
		display: flex;
		margin: 10px 0 33px;
		div{
			background-color: #2d373a;;
			border-radius: 50%;
			z-index: 2;
			width: 24px;
			height: 24px;
			margin-right: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__icon{
		color: #fff;
		font-size: 1.4rem;
		&:hover{
			color: #fff;
			opacity: 0.9;
		}
		& span{
			margin-left: 10px;
		}
	}
	&__button{
		background-color: #2d373a;
		padding: 10px 15px;
		border-radius: 5px;
	}
	&__line{
		margin: 0 10px;
		height: 10px;
		width: 1px;
		border-right: 1px solid #777;
	}
}

.help,
.catalog,
.others{
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

/* -------------- Adaptive --------------- */

@media screen and (max-width: 1200px){
	.navigation__item{
		&#more{
		display: block;
		}
		&--hidden{
			display: none;
		}
	}
	.vet{
		&__box{
			display: flex;
			flex-direction: column;
		}
	}
	.accessories{
		&__box{
			flex-direction: column;
			flex-wrap: wrap;
			padding: 20px 15px 38px 30px;
		}
		&__column{
			padding-right: 10px;
			&:last-child{
				padding-right: 0;
			}
		}
	}
}

@media (max-width: 768px){
	.banner{
		display: none;
	}
	.menu{
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1000;
		background-color: #fff;
		border-bottom: 1px solid #dfe9e3;
		&__location,
		&__basket,
		&__signin{
			display: none;
		}
		&__location{
			&.open{
				display: flex;
				padding-bottom: 20px;
			}
		}
		&__signin{
			&--adaptive.fas{
				display: block;
				font-size: 2rem;
				color: #2d373a;
			}
		}
		&__burger.fas{
			display: block;
			font-size: 2rem;
		}
	}
	.basket.open{
		display: flex;
	}
	.search{
		display: none;
		&--open{
			display: block;
		}
		&--close.fa-times{
			display: none;
		}
	}
	.navigation{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 260px;
		overflow-y: auto;
		height: 600px;
		&__item{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color: #333333!important;
			background-color: #fff!important;
			padding-left: 0;
			padding-right: 0;
			border-bottom: 2px solid #f0f0f0;
			width: 235px;
			padding: 15px 0 15px 20px;
			&--hidden{
				display: flex;
				justify-content: flex-start;
				padding-left: 30px;
			}
		}
		&__dotts{
			display: none;
		}
		&__wrapper{
			flex-direction: column;
			align-items: flex-start;
		}
		& div{
			position: static;
			background-color: #fff;
			border: none;
			padding-left: 10px;
		}
		&__line{
			display: none;
		}
		&__arrow.fas{
			display: flex;
			margin-left: 10px;
		}
		&__space{
			border-bottom: 2px solid #f0f0f0;
			border-top: 2px solid #f0f0f0;
			height: 50px;
			background-color: #fff;
		}
	}
	.accessories{
		position: static;
		width: 175px;
		&__box{
			padding: 0!important;
			padding-left: 10px;
		}
		&__title{
			padding-left: 0!important;
		}
		&__column{
			padding: 0!important;
		}
	}
	.vet{
		&__box{
			flex-direction: column;
		}
		&__column{
			padding-left: 10px;
		}
	}
	.goods__pets:hover,
	.pets__pets:hover,
	.more__item:hover{
		color: #333;
		background-color: #fff;
		font-weight: normal;
	}
	.services{
		&__box{
			padding-left: 20px!important;
		}
	}
	#more{
		display: none!important;
	}
	.more{
		&__box{
			display: none!important;
		}
	}
	.services{
		&__box{
			padding-right: 0;
		}
	}
	.vet__box .vet__column{
		padding-left: 10px;
	}
}

@media (max-width: 676px){
	.offers{
		&__button{
			max-width: 260px;
		}
	}
	.footer{
		&__box{
			display: flex;
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 500px){
	.search{
		&--open{
			padding-top: 50px;
		}
	}
	.product{
		&__gallery{
			top: -110px;
		}
	}
}